apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres
  namespace: realworld-app
spec:
  instances: 1
  storage:
    size: 2Gi
  bootstrap:
    initdb:
      database: db
      owner: myuser
      secret:
        name: postgres-secret

  backup:
    barmanObjectStore:
      destinationPath: gs://cnpg-backups-realworld-app-483521/
      googleCredentials:
        applicationCredentials:
          name: gcp-storage-secret
          key: credentials.json

      wal:
        compression: gzip
        maxParallel: 8

      data:
        compression: gzip
        jobs: 4

    retentionPolicy: "30d"
