apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: realworld-sops
  namespace: flux-system
spec:
  interval: 10m
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: ./k8s/flux-config/realworld-cluster
  prune: true
  decryption:
    provider: sops
    secretRef:
      name: sops-gpg
