apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  releaseName: kube-prometheus-stack
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "80.x.x"
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  interval: 1h
  values:
    prometheus:
      prometheusSpec:
        resources:
          requests:
            memory: 400Mi
          limits:
            memory: 800Mi
        retention: 5d
        storageSpec:
          v1:
            patch:
              spec:
                resources:
                  requests:
                    storage: 5Gi
    grafana:
      admin:
        existingSecret: "grafana-credentials"
        userKey: user
        passwordKey: password
