apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  releaseName: kube-prometheus-stack
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "80.x.x"
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  interval: 1h
  values:
    commonLabels:
      observability: enabled
    prometheus:
      prometheusSpec:
        serviceMonitorSelectorNilUsesHelmValues: false
        podMonitorSelectorNilUsesHelmValues: false

        serviceMonitorSelector:
          matchLabels:
            observability: enabled

        podMonitorSelector:
          matchLabels:
            observability: enabled

        resources:
          requests:
            memory: 400Mi
          limits:
            memory: 800Mi
        retention: 24h
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: "local-path"
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 3Gi
    grafana:
      ingress:
        enabled: true
        ingressClassName: traefik
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-prod
          traefik.ingress.kubernetes.io/router.tls: "true"
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          ingress.kubernetes.io/ssl-redirect: "true"
          traefik.ingress.kubernetes.io/router.middlewares: realworld-app-security-headers@kubernetescrd
        hosts:
          - grafana.mydevopsjourney.fun
        tls:
          - secretName: grafana-tls-secret
            hosts:
              - grafana.mydevopsjourney.fun

      admin:
        existingSecret: "grafana-credentials"
        userKey: user
        passwordKey: password

      dashboardProviders:
        dashboardproviders.yaml:
          apiVersion: 1
          providers:
            - name: "cloudnativepg"
              orgId: 1
              folder: "PostgreSQL"
              type: file
              disableDeletion: false
              editable: true
              options:
                path: /var/lib/grafana/dashboards/default

      dashboards:
        default:
          cloudnativepg:
            gnetId: 20417
            revision: 4
            datasource: Prometheus
